body {
	background-color: #f2f2f2;
}

#note1 {
	font-style: normal;
	font-size: 14;
}

#titles-left {
	float: left;
}

#conts-right {
	float: right;
	width: 
}

#calc-bord {
	border: 5px solid #242424;
	border-radius: 2%;
	width: 300px;
	/*height: 500px;*/
	margin: 25px;
	padding: 15px;
	/*float: right;*/
	display: none;
}

#nm1, #nm2, #nm3, #nm4 {
	border: 5px solid #242424;
	border-radius: 2%;
	width: 300px;
	height: 15px;
	margin: 25px;
	padding: 15px;
}

#rcalc-bord {
	border: 5px solid #242424;
	border-radius: 2%;
	width: 300px;
	/*height: 500px;*/
	margin: 25px;
	margin-bottom: 80px;
	padding: 15px;
	/*float: right;*/
	display: none;
}

#bmr-bord {
	border: 5px solid #242424;
	border-radius: 2%;
	width: 300px;
	/*height: 330px;*/
	margin: 25px;
	padding-bottom: 50px;
	padding: 15px;
	/*float: right;*/
	display: none;
}

#bfp-bord {
	border: 5px solid #242424;
	border-radius: 2%;
	width: 300px;
	/*height: 330px;*/
	margin: 25px;
	padding: 15px;
	/*float: right;*/
	display: none;
}

#res, #eres {
	height: 10px;
	width: 50px;
	border: 2px solid white; 
    border-radius: 5%;
	display: inline-block;
	margin-left: 100px;
	padding: 0;
	vertical-align: middle;
    -webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
#rres, #erres {
	height: 10px;
	width: 30px;
	border: 2px solid white;
	border-radius: 5%;
	display: inline-block;
	padding: 0;
	vertical-align: middle;
	-webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);

}

#bmres {
	height: 10px;
	width: 40px;
	border: 2px solid white;
	border-radius: 5%;
	display: inline-block;
	padding: 0;
	vertical-align: middle;
	-webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    text-align: center;
}

.prm {
	height: 15px;
	width: 50px;
	border: 2px solid white; 
    border-radius: 5%;
	display: inline-block;
	margin: 0px;
	padding: 0;
	vertical-align: middle;
    -webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

/*#res {*/
	text-align: center;
	margin: 3px;
	vertical-align: middle;
}

/*#eres {*/
	text-align: center;
	margin: 3px;
	vertical-align: middle;
}

#rres, #erres {
	text-align: center;
	margin: 3px;
	vertical-align: middle;
}

#bfres, #ebfres {
	height: 10px;
	width: 30px;
	border: 2px solid white;
	border-radius: 5%;
	display: inline-block;
	padding: 0;
	vertical-align: middle;
	-webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);

}

#conts {
/*	border: 5px solid #242424;
	border-radius: 2%;
*/	width: 780px;
	height: 650px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	padding: 15px;
}

#calc1, #calc2, #calc3, #calc4, #nm1, #nm2, #nm3, #nm4 {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

#bmictitle {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}
