body {
	background-color: #f2f2f2;
}

#calc-bord {
	border: 5px solid #242424;
	border-radius: 2%;
	width: 250px;
	height: 500px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	padding: 15px;
}

#res {
	height: 10px;
	width: 50px;
	border: 2px solid white; 
    border-radius: 5%;
	display: inline-block;
	margin: 0px;
	padding: 0;
	vertical-align: middle;
    -webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

.prm {
	height: 20px;
	width: 50px;
	border: 2px solid white; 
    border-radius: 5%;
	display: inline-block;
	margin: 0px;
	padding: 0;
	vertical-align: middle;
    -webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

#res {
	text-align: center;
	margin: 3px;
}